// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form {
  background-color:lightgray;
  padding-top: 10px;
  width: 400px;
}

.error_container {
  border: 1px solid red;
  padding: 5px 0;
  margin-bottom: 5px;
  width: 400px;
} 

.error {
  margin: 0 0 0 10px;
}

.user_label {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

.user_input {
  margin-left: 10px;
  margin-bottom: 10px;
}

.sub_btn {
  background-color: #00E;
  color: #EEE;
  margin: 0 0 10px 10px;
}

.field_with_errors {
  font-weight: strong;
  color: red;
}

// sass related syntax (rails adds a br element )
.field_with_errors + br { 
  display: none;
}

.field_with_errors input { 
  border: solid 2px red;
}

